


        header {

                        color: aliceblue;
                        font-size: 50px;
                        padding-top: 150px;


                        

                            text-align: center;
                            
                            
                            }


                    #mainGen {

                                color: azure;

                    }


                    body {
                                background-image: url('./assets/haloBackGround.jpeg');

                    }

                    #mainTemp {
                                    color: azure;

                    }
    





                    .location   {


                        text-align: center;
            
            }
            
            
            
            .current {
            
                    text-align: center;
            
            }
            
            
            
            
            .city {
            
            
                                    margin-bottom: 15px;
                                    font-size: 55px;
            
            }
            
            
            .date {
            
                            margin-bottom: 5px;
                            font-size: 35px;
            
            }
            
            
            .temp , .weather , .hi-low {
            
            
                            font-size: 20px;
            
            }

            #mainHub {


                    padding-left: 150px;

            }


            .card1{

                float:left;
                /* margin-left: 750px; */
                /* text-align: center; */
                /* margin-top: 125px;; */
                
                
                


        }
            #cardHeader{


                            color: azure;

            }
            
            

                    /* .top{
                            background-color: slategray;
                    }
 */

        /* h1{
                text-align: center;
                background-color: yellow;
        }



        p {
                font-size: larger;
                text-align: center;
                background-color: yellow;
        }
 */
