


        header {

                        color: aliceblue;
                        font-size: 50px;
                        padding-top: 100px;


                        

                            text-align: center;
                            
                            
                            }


                    


                    body {
                                background-image: url('./assets/haloBackGround.jpeg');

                    }

                    #mainTemp {
                                    color: azure;

                    }
    





                    /* .location   {


                        text-align: center;
            
            }
            
            
            
            .current {
            
                    text-align: center;
            
            }
            
            
            
            
            .city {
            
            
                                    margin-bottom: 15px;
                                    font-size: 55px;
            
            }
            
            
            .date {
            
                            margin-bottom: 5px;
                            font-size: 35px;
            
            }
            
            
            .temp , .weather , .hi-low {
            
            
                            font-size: 20px;
            
            } */

            #mainHub {


                    padding-left: 150px;

            }


            .card1{

                float:left;
                /* margin-left: 750px; */
                /* text-align: center; */
                /* margin-top: 125px;; */
                
                
                


        }
            #cardHeader{


                            color: azure;

            }
            




            .title{
                padding-top:40px;
                text-align: center;
                margin-bottom: 50px;
            }
            .quoteArea{
                padding:40px;
                font-size: 30px;
                border:5px solid #fff;
                margin-bottom: 30px;
                color: #fff;
                background-color: grey;
                background: rgba(25, 25, 25, .5);
            }
            .fa-heart{
                color:#ff1237;
            }
            .creator, .creator a{
                text-align: center;
                padding-top: 20px; 
            }





 
            #topTemp{
                width: 300px;    
                background-color: #FFF;
                
                display: block;
                margin: 0 auto;
                
                border-radius: 10px;
                padding-bottom : 50px;
                float: right;
            }
            
            .app-title{
                width: 300px;
                height: 50px;
                border-radius: 10px 10px 0 0;
            }
            
            .app-title p{
                text-align: center;
                padding: 15px;
                margin: 0 auto;
                font-size: 1.2em;
                color: #293251;
            }
            
            .notification{
                background-color: #f8d7da;
                display: none;
            }
            
            .notification p{
                color: #721c24;
                font-size: 1.2em;
                margin: 0;
                text-align: center;
                padding: 10px 0;
            }
            
            .weather-container{
                width: 260px;
                height: 260px;
                background-color: #F4F9FF;
            }
            
            .weather-icon{
                width: 300px;
                height: 128px;
            }
            
            .weather-icon img{
                display: block;
                margin: 0 auto;
            }
            
            .temperature-value{
                width: 300px;
                height:60px;
            }
            
            .temperature-value p{
                padding: 0;
                margin: 0;
                color: #293251;
                font-size: 4em;
                text-align: center;
                cursor: pointer;
            }
            
            
            
            .temperature-value span{
                color: #293251;
                font-size: 0.5em;
            }
            
            
            
            .temperature-description p{
                padding: 8px;
                margin: 0;
                color: #293251;
                text-align: center;
                font-size: 1.2em;
            }
            
            
            
            .location p{
                margin: 0;
                padding: 0;
                color: #293251;
                text-align: center;
                font-size: 0.8em;
            }
            

 



                #theSearchGuy {


                        margin-top: 200px;

                  padding-left: 650px;

                }



            

                    /* .top{
                            background-color: slategray;
                    }
 */

        /* h1{
                text-align: center;
                background-color: yellow;
        }



        p {
                font-size: larger;
                text-align: center;
                background-color: yellow;
        }
 */
